<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ExpressGeneratorTypeScriptApp</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>API Explorer</h1>
    <!-- Request -->
    <div class="column">
      <div class="column-header">Request:</div>
      <div>
        <label for="endpoint-input">Endpoint</label><br />
        <input type="text" id="endpoint-input" placeholder="/api" size="50" />
      </div>
      <div>
        <label for="body-input">Request Body</label><br />
        <textarea id="body-input" rows="10" cols="50"></textarea>
      </div>
      <div>
        <button id="get-btn">GET</button>
        <button id="post-btn">POST</button>
        <button id="patch-btn">PATCH</button>
        <button id="delete-btn">DELETE</button>
      </div>
    </div>

    <!-- Response -->
    <div class="column">
      <div class="column-header">Response:</div>
      <div>
        <label for="status-output">Status</label><br />
        <input type="text" id="status-output" size="50" disabled />
      </div>
      <div>
        <label for="body-outut">Response Body</label><br />
        <textarea id="body-output" rows="10" cols="50" disabled></textarea>
      </div>
    </div>
  </body>
  <script src="scripts/index.js"></script>
</html>
