body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .column input {
  margin-bottom: 10px;
}

body .column textarea {
  margin-bottom: 10px;
}

body .column button {
  margin-top: 2px;
  margin-bottom: 10px;
}
